.navbar {
  background-color: #bdb2db;
}

.footer {
  background-color: #97a2ae;
}

.container {
  padding: 5% 20%;
}

.none {
  display: none;
}

.card-body {
  padding: 2%;
  font-size: 0.9rem;
}

.cardInfo {
  font-weight: 320;
}